html {
  font-size: 62.5%;
  box-sizing: border-box;
}
/* body #root {
  height: 100vh;
  margin: 0;
} */
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 16rem 1fr 30rem;
  grid-template-columns: 1fr;
  height: auto;
}
header {
  grid-area: header;
  background-color: #87c6d9;
}
main {
  grid-area: main;
  width: 90%;
  margin: 0 auto;
  height: auto;
}
footer {
  grid-area: footer;
  background-color: #87c6d9;
}
/* Header */

.header-1 {
  display: grid;
  grid-template-columns: 3fr 5fr 1fr 1fr 1fr;
  border-bottom: 1px solid #6c757d;
}
.title-projet {
  grid-column: 1;
  margin: 2rem;
  padding-left: 4vw;
}
.title-for-life {
  color: white;
}
.title-projet h1 {
  color: #343a40;
  padding-left: 0.5vw;
  cursor: pointer;
}
.search {
  grid-column: 2;
  margin: 2rem;
}
.input-search {
  width: 30vw;
  height: 40px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: gray;
  margin-top: 5px;
}
.btn-search {
  height: 40px;
  width: 10vw;
  border-radius: 0 5px 5px 0;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.wishlist {
  grid-column: 3;
  margin: 2rem;
  align-items: center;
  cursor: pointer;
}
.fa-heart {
  font-size: 30px;
  padding: 2rem;
}
.fa-heart:hover {
  color: white;
}
.panier {
  grid-column: 4;
  margin: 2rem;
  cursor: pointer;
}
.fa-shopping-cart {
  font-size: 30px;
  padding: 2rem;
}
.fa-shopping-cart:hover {
  color: white;
}
.user {
  grid-column: 5;
  margin: 2rem;
  display: flex;
  cursor: pointer;
}
.user h3 {
  color: #343a40;
}
.user h3:hover {
  color: white;
}
.fa-user {
  font-size: 30px;
  padding: 2rem;
}
.nombreProduit {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  margin-left: 3vw;
  margin-top: -9vh;
}
.nombreWilshit {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  margin-left: 3vw;
  margin-top: -9vh;
}
.header-2 {
  display: flex;
  justify-content: space-around;
}
.header-2 h3,
h2 {
  color: #343a40;
  cursor: pointer;
}
/* Main */
.image-background {
  background-image: url(https://image.freepik.com/photos-gratuite/vue-frontale-docteur-masque-medical-stethoscope_23-2148445085.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  margin: 2rem;
}
.choice-product {
  width: 20vw;
  padding-top: 25vh;
  padding-left: 10vw;
  text-align: center;
}
.choice-product h1 {
  color: #3d464d;
}
.btn-shop {
  height: 40px;
  width: 10vw;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-left: 15vw;
  margin-top: 5vh;
}
.btn-shop:hover {
  background-color: #e03864;
}
.détails-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5rem 10rem;
  margin: 2rem;
  grid-gap: 2rem;
}
.livraison {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #f7f7f7;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.fa-people-carry {
  font-size: 50px;
  color: #e03864;
}
.paiement {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #f7f7f7;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.fa-credit-card {
  font-size: 50px;
  color: #e03864;
}
.support {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #f7f7f7;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.fa-comments {
  font-size: 50px;
  color: #e03864;
}
.échange {
  grid-column: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #f7f7f7;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.fa-sync-alt {
  font-size: 50px;
  color: #e03864;
}
.bg-container {
  background-color: #f7f7f7;
  height: 10vh;
  border-left: 4px solid #e03864;
  padding-right: 5vw;
  display: flex;
  justify-content: space-between;
}
.bg-container h1 {
  padding-top: 1vh;
  padding-left: 4vw;
}
.top-category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* margin: 2rem; */
  padding: 2rem;
  grid-gap: 2rem;
}
.top-category-grid img {
  max-width: 40vw;
  height: 32vh;
}
.bébé-maman:hover {
  border: 1px solid #e03864;
}
.Santé:hover {
  border: 1px solid #e03864;
}
.Materiel-medical:hover {
  border: 1px solid #e03864;
}
.visage-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.image-container {
  grid-column: 2;
}
.product-container {
  grid-column: 3;
}
.product-grid-main {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin: 1rem;
  grid-gap: 4rem;
  /* border: 1px solid #87c6d9; */
}
.map-container-main {
  /* border: #87c6d9 1px solid; */
}
.map-container-main:hover {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  cursor: pointer;
  /* border: #777 1px solid; */
}
.product-grid-main img {
  max-width: 200px;
  max-height: 150px;
}
.name-product {
  text-align: center;
  font-size: 15px;
  height: 10vh;
  margin-top: 2vh;
}
.price-product {
  text-align: center;
  font-size: 20px;
  color: #e03864;
}
#addshopping {
  margin-left: 1vw;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 35px;
  color: white;
  background-color: black;
  border-radius: 40px;
  overflow: hidden;
}
#addshopping:hover {
  background-color: #e03864;
}
#favorite {
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 40px;
  color: white;
  background-color: black;
  border-radius: 40px;
  overflow: hidden;
}
#favorite:hover {
  background-color: #e03864;
}
.fa-angle-right {
  padding-left: 0.2vw;
  color: #e03864;
  cursor: pointer;
  font-size: 25px;
  padding-top: 3.5vh;
}
.dis-more {
  display: flex;
}
.li-produit {
  padding: 20px;
  border-bottom: 1px dotted #e03864;
  list-style: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  margin-right: 2vw;
  margin-top: 2vh;
}
.Image-main {
  width: 420px;
  height: 800px;
  padding-left: 2vw;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 1.2fr 3fr 1fr;
}
.A {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.Grid-num1 {
  grid-column: 1;
  margin: 2rem;
  display: flex;
  float: left;
  border: 1px solid black;
}
.Grid-num1 span {
  color: gray;
  font-size: 15px;
}
.fa-clinic-medical {
  padding: 20px;
  font-size: 50px;
  color: #e03864;
  height: 100%;
  background-color: #ececf8;
}
.Grid-num2 {
  grid-column: 2;
  margin: 2rem;
  display: flex;
  float: left;
  border: 1px solid black;
}
.Grid-num2 span {
  color: gray;
  font-size: 15px;
}
.fa-baby {
  padding: 20px;
  font-size: 50px;
  color: #e03864;
  height: 100%;
  background-color: #ececf8;
}
.Grid-num3 {
  grid-column: 3;
  margin: 2rem;
  display: flex;
  float: left;
  border: 1px solid black;
}
.Grid-num3 span {
  color: gray;
  font-size: 15px;
}
.fa-smile-wink {
  padding: 20px;
  font-size: 50px;
  color: #e03864;
  height: 100%;
  background-color: #ececf8;
}
.Grid-num4 {
  grid-column: 4;
  margin: 2rem;
  display: flex;
  float: left;
  border: 1px solid black;
}
.Grid-num4 span {
  color: gray;
  font-size: 15px;
}
.fa-umbrella-beach {
  padding: 20px;
  font-size: 50px;
  color: #e03864;
  height: 100%;
  background-color: #ececf8;
}
.Grid-num5 {
  grid-row: 2;
  grid-column: 1;
  margin: 2rem;
  display: flex;
  float: left;
  border: 1px solid black;
}
.Grid-num5 {
  color: gray;
  font-size: 15px;
}
.fa-shoe-prints {
  padding: 20px;
  font-size: 50px;
  color: #e03864;
  height: 100%;
  background-color: #ececf8;
}
.Grid-num6 {
  grid-row: 2;
  grid-column: 2;
  margin: 2rem;
  display: flex;
  float: left;
  border: 1px solid black;
}
.Grid-num6 span {
  color: gray;
  font-size: 15px;
}
.fa-pagelines {
  padding: 20px;
  font-size: 50px;
  color: #e03864;
  height: 100%;
  background-color: #ececf8;
}
.Grid-num7 {
  grid-row: 2;
  grid-column: 3;
  margin: 2rem;
  display: flex;
  float: left;
  border: 1px solid black;
}
.Grid-num7 span {
  color: gray;
  font-size: 15px;
}
.fa-hand-holding-medical {
  padding: 20px;
  font-size: 50px;
  color: #e03864;
  height: 100%;
  background-color: #ececf8;
}
.Grid-num8 {
  grid-row: 2;
  grid-column: 4;
  margin: 2rem;
  display: flex;
  float: left;
  border: 1px solid black;
}
.Grid-num8 span {
  color: gray;
  font-size: 15px;
}
.fa-medkit {
  padding: 20px;
  font-size: 50px;
  color: #e03864;
  height: 100%;
  background-color: #ececf8;
}
/* Login-Register */
.login-register {
  display: flex;
  justify-content: space-around;
  width: 20vw;
  margin: 0 auto;
  margin-top: 20vh;
}
.lg-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: #f7f7f7;
  width: 30vw;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 20vh;
  border-radius: 5px;
}
.lg-ctn input,
button {
  margin: 0 auto;
}
.login-register h1 {
  color: #666666;
  cursor: pointer;
}
.form-control.ant-input {
  height: 50px;
  width: 20vw;
  border-radius: 0;
  border: 1px solid #ddd;
  margin-top: 2rem;
}
.form-control {
  outline: none;
  font-size: 14px;
  padding: 0 20px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 0 transparent;
  transition: all 0.4s ease;
  box-shadow: 0 0 0 #000;
}
.btn-login {
  height: 40px;
  width: 23vw;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.btn-login:hover {
  background-color: #e03864;
}

/* div {
  border: black 1px solid;
} */

/* Products */
.pd-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 50px 150px 150px;
  grid-gap: 2rem;
}
.pd-cat {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 5;
  background-color: #f7f7f7;
  margin-top: 2vh;
  border-radius: 5px;
}
.pd-img {
  grid-column-start: 2;
  grid-column-end: 5;
  background-image: url(https://parapharmacieplus.tn/c/12-category_default/bebe-maman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
  margin: 2rem;
}
.nb-produits {
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.pd-list {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.pd-list-map {
  margin-bottom: 5vh;
  color: #777;
  /* border: 1px solid #777877; */

}
.pd-list-map:hover {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  cursor: pointer;
  border: #777 1px solid;
}
.pd-list-map img {
  width: 20vw;
  height: 30vh;
  margin: 1rem;
  /* border: 1px solid #87c6d9; */
}
.pd-list-map h5 {
  font-size: 15px;
  height: 5vh;
  text-align: center;
}
.pd-list-map h4 {
  font-size: 20px;
  color: #e03864;
  text-align: center;
}
.btn-add-cart {
  height: 40px;
  width: 10vw;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 0 auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.btn-add-cart:hover {
  background-color: #e03864;
}
.btn-shop-pd {
  display: flex;
}


.bouton_4{
  width:40px;
  height:40px;
  padding:10px;
  border-radius:40px;
  background-color:#87c6d9;
  overflow:hidden;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.bouton_4:hover{
  width:180px;
  height:40px;
  border-radius:40px;
  background-color:#e03864;
}
.texteduboutton_4
{
  width:70%;
  float:right;
  line-height:40px;
  color:#ffffff;
  font-family:'Roboto';
  font-weight:300;
  font-size:18px;
}
.btn-shop-pd {
display: flex;
justify-content: center;
margin-bottom: 2vh;
}
